# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/Client-Side/FileContentIndex/read.lock
.gitignore
.vs/ProjectSettings.json
.angulardoc.json
.angulardoc.json
.vs/Client-Side/FileContentIndex/fb956f18-fced-4c09-92fa-b3c6202a8b91.vsidx
/.angulardoc.json
/.vs/Client-Side/FileContentIndex/eac3b0da-0cb8-4ca9-8462-2a0fa27f5350.vsidx
/.vs/Client-Side/FileContentIndex/merges
/.vs/Client-Side/FileContentIndex/20090e3e-7b3b-4a04-ab33-77e9a8a5eeab.vsidx
*.vsidx
/.vs/Client-Side/FileContentIndex
/.vs
