<div class="container">
    <h2 class="text-center my-5">Where you wanna sell <span class="text-primary">Today</span> ?</h2>
    <div class="row border p-0 overflow-hidden rounded-3 mb-5 mt-3">
        <div class="col-md-12">
        </div>
        <div class="col-md-4 first-step">

            <div *ngFor="let cat of categoryParentArry;let i=index">
                <a [id]="cat.id" class="d-flex align-items-center justify-content-between text-decoration-none text-body-emphasis" [class.active]="currentActive == cat.id" (click)="categoryParentId(cat.id)">
                    <div class="align-center-embact">
                        <i class="isax isax-component text-primary fw-bold"></i>
                        <img src="{{cat.icon}}" alt="">
                        {{cat.label}}
                    </div>
                    <i class="isax isax-arrow-right-3 fs-4 fw-bold"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 second-step">
            <div *ngFor="let catHasParent of categoryHasParent;let i=index">
                <a [id]="catHasParent.id" (click)="categoryHasParentF(catHasParent.id)">{{catHasParent.label}}</a>
            </div>
        </div>
        <div class="col-md-4 third-step">
            <div *ngFor="let catHasField of categoryHasFields;let i=index">
                <a [id]="catHasField.id" (click)="categoryHasFieldsF(catHasField.id)">{{catHasField.label}}</a>
            </div>
        </div>
        </div>
</div>