<div class="container">
  <!-- Breadcrumb -->
  <div class="row" *ngIf="post != null">
    <div class="col-md-12 mt-4">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/'">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="'/' + post.cat.slug ">{{ post.cat.label }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ post.title }}
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-4">
        <h1 class="fw-bold">{{ post.title }}</h1>
        <h5 class="text-muted d-flex align-items-center gap-1">
          <i class="isax isax-location fs-4 fw-bold text-primary"></i>
          {{ post.post_LocationNavigation.city_Name_En }} ,
          {{ post.post_LocationNavigation.governorate.governorate_Name_En }}
        </h5>
      </div>
      <!-- Gallery -->
      <div class="col-md-12">
        <div class="gallery gap-3 mb-3">
          <div
            *ngFor="let item of frist3; let i = index"
            class="gallery-item rounded-4 overflow-hidden"
            data-bs-toggle="modal"
            data-bs-target="#galleryModal"
            [attr.gallery-id]="i"
            style="display: block"
          >
            <div
              class="more-gallery-items position-absolute text-white d-flex flex-column justify-content-center align-items-center w-100 h-100"
              *ngIf="i == 2 && postImages.length > 3"
            >
              <span>{{ postImages.length - 3 }}+</span>
              <div>Show More</div>
            </div>
            <img class="w-100" src="{{ domain }}{{ item.image }}" alt="" />
            <span class="skeleton skeleton-img" style="display: none"></span>
          </div>

          <!-- Start Gallery Modal -->
          <ng-container *ngIf="false">
            <div
              class="modal fade"
              id="galleryModal"
              tabindex="-1"
              aria-labelledby="galleryModalLabel"
              aria-hidden="true"
              style="display: none"
            >
              <div class="modal-dialog modal-fullscreen">
                <div class="gallery-modal modal-content">
                  <div
                    type="button"
                    class="gallery-close-btn d-flex justify-align-center align-items-center gap-2 text-black bg-white m-auto py-2 px-3 mt-3 rounded-5 fw-bolder"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <i class="fa-solid fa-xmark"></i> إغلاق
                  </div>
                  <div
                    class="modal-body d-flex justify-content-center align-items-center"
                  >
                    <div
                      id="carouselGalleryControls"
                      class="carousel slide gallery-body"
                      data-bs-interval="false"
                    >
                      <div class="carousel-indicators gallery-indicators">
                        <!-- Auto Load -->

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="0"
                          aria-label="Image 1"
                          class=""
                          *ngFor="let image of imagesAfter3; let i = index"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="{{ domain }}{{ image.image }}"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="1"
                          aria-label="Image 2"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1554254648-2d58a1bc3fd5?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="2"
                          aria-label="Image 3"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://wallpaperaccess.com/full/2076086.jpg"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="3"
                          aria-label="Image 4"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://thumbs.dreamstime.com/b/interior-living-room-wall-mock-up-background-modern-mockup-furniture-decor-168482519.jpg"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="4"
                          aria-label="Image 5"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1505137998040-6a5fed40850e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1074&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="5"
                          aria-label="Image 6"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=738&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="6"
                          aria-label="Image 7"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1557496866-e27ec3a7e4ef?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="7"
                          aria-label="Image 8"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1559926431-73aebfacd993?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="8"
                          aria-label="Image 9"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1559637250-71776a04f8c3?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="9"
                          aria-label="Image 10"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1554254648-2d58a1bc3fd5?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="10"
                          aria-label="Image 11"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://wallpaperaccess.com/full/2076086.jpg"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="11"
                          aria-label="Image 12"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://thumbs.dreamstime.com/b/interior-living-room-wall-mock-up-background-modern-mockup-furniture-decor-168482519.jpg"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="12"
                          aria-label="Image 13"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1505137998040-6a5fed40850e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1074&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="13"
                          aria-label="Image 14"
                          class="active"
                          aria-current="true"
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=738&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="14"
                          aria-label="Image 15"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1557496866-e27ec3a7e4ef?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="15"
                          aria-label="Image 16"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1559926431-73aebfacd993?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>

                        <div
                          type="button"
                          data-bs-target="#carouselGalleryControls"
                          data-bs-slide-to="16"
                          aria-label="Image 17"
                          class=""
                        >
                          <img
                            class="d-block w-100 h-100"
                            src="https://images.unsplash.com/photo-1559637250-71776a04f8c3?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="carousel-inner gallery-modal-item">
                        <!-- Auto Load -->
                        <div class="carousel-item" carousel-id="0">
                          <iframe
                            src="https://www.youtube.com/embed/3jfI-z__GY0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""
                          ></iframe>
                        </div>
                        <div class="carousel-item" carousel-id="1">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1554254648-2d58a1bc3fd5?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="2">
                          <img
                            class="d-block"
                            src="https://wallpaperaccess.com/full/2076086.jpg"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="3">
                          <img
                            class="d-block"
                            src="https://thumbs.dreamstime.com/b/interior-living-room-wall-mock-up-background-modern-mockup-furniture-decor-168482519.jpg"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="4">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1505137998040-6a5fed40850e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1074&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="5">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=738&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="6">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1557496866-e27ec3a7e4ef?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="7">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1559926431-73aebfacd993?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="8">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1559637250-71776a04f8c3?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="9">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1554254648-2d58a1bc3fd5?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="10">
                          <img
                            class="d-block"
                            src="https://wallpaperaccess.com/full/2076086.jpg"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="11">
                          <img
                            class="d-block"
                            src="https://thumbs.dreamstime.com/b/interior-living-room-wall-mock-up-background-modern-mockup-furniture-decor-168482519.jpg"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="12">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1505137998040-6a5fed40850e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1074&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item active" carousel-id="13">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=738&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="14">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1557496866-e27ec3a7e4ef?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="15">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1559926431-73aebfacd993?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80"
                            alt=""
                          />
                        </div>
                        <div class="carousel-item" carousel-id="16">
                          <img
                            class="d-block"
                            src="https://images.unsplash.com/photo-1559637250-71776a04f8c3?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80"
                            alt=""
                          />
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselGalleryControls"
                        data-bs-slide="prev"
                      >
                        <span
                          class="carousel-control-prev-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselGalleryControls"
                        data-bs-slide="next"
                      >
                        <span
                          class="carousel-control-next-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End Gallery Modal -->
        </div>
      </div>
    </div>
    <!-- Main Details -->
    <div class="row mt-3 flex-sm-column-reverse flex-md-row">
      <div class="col-md-8">
        <h3 class="mb-4">Details</h3>
        <div class="row items g-4">
          <div
            class="col-md-6 item-info"
            *ngFor="let item of details; let i = index"
          >
            <span
              ><i class="isax isax-component text-primary"></i>
              {{ getFieldLabel(item["fildeID"]) }}</span
            >
            <span>{{ item["choices"][0] }}</span>
          </div>
        </div>
        <hr />
        <h3 class="mt-4">Description</h3>
        <div class="col-md-12">
          <p class="description">
            {{ post.description }}
          </p>
        </div>
        <hr />
        <h3 class="mt-4">Related Posts</h3>
        <div class="col-md-12 mt-4">
          <div class="row">
            <div class="col-md-4" *ngFor="let post of Catposts.length <= 3 ? Catposts  : [1,2,3] ">
              <app-post-item [post]="post" [category]="category" (click)="gotoRelatedPost(post.id)"></app-post-item>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row sticky-top" style="top: 100px">
          <div class="col-md-12">
            <div class="main-details rounded-4">
              <div class="d-flex align-items-center justify-content-between">
                <span class="details-price fw-bold text-primary"
                  >{{currenyFormat(post.price)}}</span
                >
                <span class="text-muted">{{post.created_Date | date }}</span>
              </div>
              <div class="details-avatar mt-4">
                {{ userdata.name[0].toUpperCase() }}
              </div>
              <h5 class="mt-3 mb-3 text-center">{{ userdata.name }}</h5>
              <div
              class="d-flex align-items-center justify-content-between gap-2 flex-grow-1"
            >
              <button *ngIf="post.contact_Method == 1 || post.contact_Method == 3" class="btn btn-primary w-100 align-center-embact justify-content-center" (click)="toggleMobileNumber()">
                <i class="isax isax-call"></i> {{toggleMobile ? userdata.phone : 'Show Number' }} 
              </button>
              <button
              [routerLink]="'/chat/'+UserId"
                class="btn btn-outline-primary align-center-embact justify-content-center"
                [class.btn-outline-primary]="post.contact_Method == 1 || post.contact_Method == 3"
                [class.btn-primary]="post.contact_Method == 2"
                [class.flex-grow-1]="post.contact_Method == 2 || post.contact_Method == 3"
                *ngIf="post.contact_Method == 2 || post.contact_Method == 3"
              >
                <i class="isax isax-message" style="font-size: 22px;"></i> {{post.contact_Method == 2 ? 'Send Message' : '' }} 
              </button>
              <button
              [routerLink]="'/user/'+ (isMyPost(UserId) ? 'profile' : UserId) "
                class="btn btn-outline-primary align-center-embact justify-content-center flex-grow-0"
              >
              <i class="isax isax-user" style="font-size: 22px;"></i>
              </button>
            </div>
              
            </div>
          </div>

          <div class="col-md-12 mt-4 mb-4">
            <div class="border border-1 rounded-4 p-3">
              <h5 class="mt-3">Your safety is our priority</h5>
              <p class="safety-item">1- Meet the seller in a public place.</p>
              <p class="safety-item">2- Take someone with you.</p>
              <p class="safety-item">
                3- Check the product well before you buy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
