.gallery {
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   flex-wrap: wrap;
   height: 500px;
   display: grid;
   /* display: none !important; */
}

.gallery:has(> .gallery-item:nth-child(n + 3)) {
   grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.gallery .gallery-item {
   position: relative;
   cursor: pointer;
   flex-grow: 1;
   display: none;
}

.gallery .gallery-item:first-child {
   grid-column: 1 /3;
   grid-row: 1 /3;
   height: 100%;
}

.gallery .gallery-item img {
   max-width: 100%;
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: cover;
}

.gallery .gallery-item .more-gallery-items {
   background-color: rgb(0 0 0 / 50%);
   font-size: 18px;
}

.gallery .gallery-item.video::before, .gallery-modal .gallery-body .gallery-indicators div.video::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent);
}

.gallery .gallery-item.video::after, .gallery-modal .gallery-body .gallery-indicators div.video::after {
   font-family: "Font Awesome 5 Free";
   content: "\f04b";
   font-weight: 900;
   position: absolute;
   height: 80px;
   width: 80px;
   top: 50%;
   left: 50%;
   border: 3px solid #fff;
   color: #fff;
   border-radius: 50%;
   text-align: center;
   font-size: 35px;
   line-height: 73px;
   margin: auto auto;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}


@media (max-width: 1199px)
{
   .gallery {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      margin-left: auto;
      margin-right: auto;
      height: 407px;
      gap: 20px !important;
   }
   .gallery:has(> .gallery-item:nth-child(n + 3)) {
      grid-template-columns: repeat(auto-fill, minmax(219px, 1fr));
  }
}

@media (max-width: 767px){
   .gallery:has(> .gallery-item:nth-child(n + 3)) {
      grid-template-columns: repeat(2, minmax(40%, 1fr));
      height: 500px;
   }
   .gallery {
      grid-template-columns: repeat(2, minmax(40%, 1fr));
      height: 350px;
      gap: 10px !important;
   }
}

// Details

.item-info {
   display: flex;
   align-items: center; 
   justify-content: space-between;
   margin-bottom: 15px;
}


.item-info span:first-of-type {
   font-size: 18px;
   font-weight: 400;
   display: flex;
   align-items: center;
   gap: 5px;
}
.item-info span:first-of-type i{
   font-weight: bold;
}
.item-info span:last-of-type {
   font-size: 18px;
   font-weight: 500;
}

.description {
   font-weight: 400;
   text-align: justify;
   padding: 10px 0;
}

.main-details {
   border: 1px solid rgb(221, 221, 221);
   padding: 24px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.details-price{
   font-size: 25px;
}

.details-avatar {
   height: 100px;
   width: 100px;
   line-height: 100px;
   // border: 1px solid #EEE;
   text-align: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   margin: auto;
   font-size: 45px;
   background-image: linear-gradient(135deg, var(--primary-color-light),var(--primary-color-dark));
   color: #FFF;
}


.safety-item {
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 5px;
}

// Modal
.modal-gallery-image {
   position: relative;
   width: 100%;
   height: 80vh;
   
}
.modal-gallery-image img{
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   height: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   object-fit: cover;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -o-transform: translate(-50%,-50%);
}

.carousel-control-prev , .carousel-control-next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   height: 60px;
   width: 60px;
   background-color: #FFF;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   text-align: center;
}

// .gallery-modal {
//    background-color: rgb(0 0 0 / 80%);
//    color: #fff;
//    backdrop-filter: blur(5px);
// }

// .modal-fullscreen .modal-body {
//    overflow-y: auto;
// }

// .gallery-modal .gallery-close-btn {
//    position: absolute;
//    left: 50%;
//    transform: translateX(-50%);
//    -webkit-transform: translateX(-50%);
//    -moz-transform: translateX(-50%);
//    -ms-transform: translateX(-50%);
//    -o-transform: translateX(-50%);
//    z-index: 9;
// }

// .gallery-modal .gallery-body .gallery-indicators {
//    display: grid;
//    grid-auto-flow: column;
//    overflow-y: hidden;
//    overflow-x: scroll;
//    justify-content: flex-start;
//    margin: 0 auto;
//    width: fit-content;
//    max-width: 100%;
// }



// .gallery-modal .gallery-body .gallery-indicators div {
//    height: 80px;
//    width: 120px;
//    object-fit: cover;
//    object-position: center;
//    background-color: transparent;
// }

// .gallery-modal .gallery-body .gallery-modal-item {
//    margin-top: -50px;
// }

// .gallery-modal .gallery-body .gallery-modal-item div iframe {
//    display: block;
//    width: 1200px;
//    height: 640px;
// }

// .carousel-item {
//    position: relative;
//    display: none;
//    float: right;
//    width: 100%;
//    margin-left: -100%;
//    -webkit-backface-visibility: hidden;
//    backface-visibility: hidden;
//    transition: transform .6s ease-in-out;
// }

// .gallery-modal .gallery-body .gallery-modal-item div img, .gallery-modal .gallery-body .gallery-modal-item div iframe {
//    margin: auto;
//    max-height: 640px;
//    border-radius: 20px;
//    -webkit-border-radius: 20px;
//    -moz-border-radius: 20px;
//    -ms-border-radius: 20px;
//    -o-border-radius: 20px;
// }

