<div class="container">
  <!-- Breadcrumb -->
  <div class="row" *ngIf="post != null && userdata != null">
    <div class="col-md-12 mt-4">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/'">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="'/' + post.cat.slug ">{{ post.cat.label }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ post.title }}
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-4">
        <h1 class="fw-bold">{{ post.title }}</h1>
        <h5 class="text-muted d-flex align-items-center gap-1">
          <i class="isax isax-location fs-4 fw-bold text-primary"></i>
          {{ post.post_LocationNavigation.city_Name_En }} ,
          {{ post.post_LocationNavigation.governorate.governorate_Name_En }}
        </h5>
      </div>
      <!-- Gallery -->
      <div class="col-md-12">
        <div class="gallery gap-3 mb-3">
          <div
            *ngFor="let item of frist3; let i = index"
            class="gallery-item rounded-4 overflow-hidden"
            data-bs-toggle="modal"
            data-bs-target="#galleryModal"
            [attr.gallery-id]="i"
            style="display: block"
          >
            <div
              class="more-gallery-items position-absolute text-white d-flex flex-column justify-content-center align-items-center w-100 h-100"
              *ngIf="i == 2 && postImages.length > 3"
            >
              <span>{{ postImages.length - 3 }}+</span>
              <div>Show More</div>
            </div>
            <img class="w-100" src="{{ domain }}{{ item.image }}" alt="" />
            <span class="skeleton skeleton-img" style="display: none"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Gallery Modal -->
    <ng-container>
      <div class="modal fade p-0" id="galleryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" style="backdrop-filter: blur(10px);">
          <div class="modal-content bg-transparent">
            <div class="modal-header border-0 px-5 py-3 justify-content-between">
              <span></span>
              <span class="text-white bg-dark rounded-3 py-2 px-4 text-center">{{imageCounter}}/{{postImages.length}}</span>
              <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
              <div id="carouselExample" class="carousel carousel-fade position-relative">
         
                <div class="carousel-inner">
                  <ng-container *ngFor="let image of postImages; let i = index">
                    <div [class.active]="i == 0" class="carousel-item modal-gallery-image" >
                      <img src="{{ domain }}{{ image.image }}" class="d-block " alt="...">
                    </div>
                  </ng-container>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="decreaseCounter()" >
                    <i class="isax isax-arrow-left-2 fs-4 fw-bold text-dark"></i>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="increaseCounter()">
                    <i class="isax isax-arrow-right-3 fs-4 fw-bold text-dark"></i>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </ng-container>
    <!-- End Gallery Modal -->
    <!-- Main Details -->
    <div class="row mt-3 flex-sm-column-reverse flex-md-row">
      <div class="col-md-8">
        <h3 class="mb-4">Details</h3>
        <div class="row items g-4">
          <div
            class="col-md-6 item-info"
            *ngFor="let item of details; let i = index"
          >
            <span
              ><i class="isax isax-component text-primary"></i>
              {{ getFieldLabel(item["fildeID"]) }}</span
            >
            <span>{{ item["choices"][0] }}</span>
          </div>
        </div>
        <hr />
        <h3 class="mt-4">Description</h3>
        <div class="col-md-12">
          <p class="description">
            {{ post.description }}
          </p>
        </div>
        <hr />
        <h3 class="mt-4">Related Posts</h3>
        <div class="col-md-12 mt-4">
          <div class="row">
            <div class="col-md-4" *ngFor="let post of Catposts.length <= 3 ? Catposts  : [1,2,3] ">
              <app-post-item [post]="post" [category]="category" (click)="gotoRelatedPost(post.id)"></app-post-item>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row sticky-top" style="top: 100px">
          <div class="col-md-12">
            <div class="main-details rounded-4">
              <div class="d-flex align-items-center justify-content-between">
                <span class="details-price fw-bold text-primary"
                  >{{currenyFormat(post.price)}}</span
                >
                <span class="text-muted">{{post.created_Date | date }}</span>
              </div>
              <div class="details-avatar mt-4">
                {{ userdata.name[0].toUpperCase() }}
              </div>
              <h5 class="mt-3 mb-3 text-center">{{ userdata.name }}</h5>
              <div
              class="d-flex align-items-center justify-content-between gap-2 flex-grow-1"
            >
              <button *ngIf="post.contact_Method == 1 || post.contact_Method == 3" class="btn btn-primary w-100 align-center-embact justify-content-center" (click)="toggleMobileNumber()">
                <i class="isax isax-call"></i> {{toggleMobile ? userdata.phone : 'Show Number' }} 
              </button>
              <button
              [routerLink]="'/chat/'+UserId"
                class="btn btn-outline-primary align-center-embact justify-content-center"
                [class.btn-outline-primary]="post.contact_Method == 1 || post.contact_Method == 3"
                [class.btn-primary]="post.contact_Method == 2"
                [class.flex-grow-1]="post.contact_Method == 2 || post.contact_Method == 3"
                *ngIf="post.contact_Method == 2 || post.contact_Method == 3"
              >
                <i class="isax isax-message" style="font-size: 22px;"></i> {{post.contact_Method == 2 ? 'Send Message' : '' }} 
              </button>
              <button
              [routerLink]="'/user/'+ (isMyPost(UserId) ? 'profile' : UserId) "
                class="btn btn-outline-primary align-center-embact justify-content-center flex-grow-0"
              >
              <i class="isax isax-user" style="font-size: 22px;"></i>
              </button>
            </div>
              
            </div>
          </div>

          <div class="col-md-12 mt-4 mb-4">
            <div class="border border-1 rounded-4 p-3">
              <h5 class="mt-3">Your safety is our priority</h5>
              <p class="safety-item">1- Meet the seller in a public place.</p>
              <p class="safety-item">2- Take someone with you.</p>
              <p class="safety-item">
                3- Check the product well before you buy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-5" *ngIf="post == null || userdata == null">
      <app-loading></app-loading>
    </div>
  </div>
</div>
