<div class="container">
  <div class="row">
   <!-- <pre>
    {{ userDetials | json}}
   </pre> -->
   <!-- Normal Users -->
    <div class="p-3 p-md-5 rounded-4" *ngIf="userDetials?.companies!.length == 0">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-4">
          {{profile ? 'My' : userDetials?.name?.split(" ")![0] + '`s' }} <span class="text-primary">Profile</span>
        </h3>
       <div class="d-flex gap-2" *ngIf="profile">
        <a class="btn btn-dark align-center-embact" [routerLink]="['edit']"
        ><i class="isax isax-user-edit"></i> Edit Profile</a
      >
      <a class="btn btn-outline-secondary align-center-embact" [routerLink]="['change-password']"
        ><i class="isax isax-key"></i> Change Password</a
      >
      <a class="btn btn-primary align-center-embact" [routerLink]="['posts']"
        ><i class="isax isax-note-2"></i> Posts</a
      >
       </div>
       <div class="d-flex gap-2" *ngIf="!profile">
      <a class="btn btn-primary align-center-embact" [routerLink]="['posts']"
        ><i class="isax isax-note-2"></i> Posts</a
      >
       </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center mb-4">
            <div class="details-avatar mt-4">
              {{ userDetials?.name![0].toUpperCase() }}
            </div>
            <h2>{{ userDetials?.name }}</h2>
          </div>
          <div class="col-md-6" *ngIf="profile">
            <span class="text-primary">Email Address</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              {{ userDetials?.email }}
            </div>
          </div>
          <div class="col-md-6">
            <span class="text-primary">Phone Number</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              {{ userDetials?.phone }}
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <span class="text-primary">Gender</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              <div *ngIf="userDetials?.gender">Male</div>

              <div *ngIf="!userDetials?.gender">Female</div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <span class="text-primary">Birthdate</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1" [innerHTML]="(userDetials?.birth_Date | date) || '<i class=&quot;text-muted&quot;>No Birthdate</i>' ">
            </div>
          </div>
          <div class="col-md-6 mt-2" *ngIf="!profile">
            <span class="text-primary">User Since</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              {{userDetials?.register_Date ?? currentDate() | date}}
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <span class="text-primary">Bio</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1" style="min-height: 150px;" [innerHTML]="userDetials?.bio || '<i class=&quot;text-muted&quot;>No Bio</i>'">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Company -->
    <div class="p-3 p-md-5 rounded-4 position-relative" *ngIf="userDetials?.companies!.length > 0">
      <div class="company-cover">
        <img src="{{company()!['cover_Url']}}" class="position-absolute object-fit-cover" alt="">
      </div>
      <div class="company-avatar mt-4">
        <img src="{{company()!['logo_Url']}}" alt="">
      </div>
      <div class="d-flex justify-content-between align-items-center position-relative mt-2">
        <span class="text-muted text-center" style="font-size: 14px;">
          <span style="font-size: 12px;">Tax Number</span> 
          <div>{{company()!['tax_Number']}}</div>
        </span>
       <div class="d-flex gap-2" *ngIf="profile">
        <a class="btn btn-dark align-center-embact" [routerLink]="['edit']"
        ><i class="isax isax-user-edit"></i> Edit Profile</a
      >
      <a class="btn btn-outline-secondary align-center-embact" [routerLink]="['change-password']"
        ><i class="isax isax-key"></i> Change Password</a
      >
      <a class="btn btn-primary align-center-embact" [routerLink]="['posts']"
        ><i class="isax isax-note-2"></i> Posts</a
      >
       </div>
       <div class="d-flex gap-2" *ngIf="!profile">
      <a class="btn btn-primary align-center-embact" [routerLink]="['posts']"
        ><i class="isax isax-note-2"></i> Posts</a
      >
       </div>
        </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center mb-4 mt-5">
            <h2>{{ userDetials?.name }}</h2>
            <h5 class="fw-bold text-muted"><i class="isax isax-building-4 fw-bold text-primary"></i> Company</h5>
          </div>
          <div class="col-md-6" *ngIf="profile">
            <span class="text-primary">Email Address</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              {{ userDetials?.email }}
            </div>
          </div>
          <div class="col-md-6">
            <span class="text-primary">Phone Number</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              {{ userDetials?.phone }}
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <span class="text-primary">Gender</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              <div *ngIf="userDetials?.gender">Male</div>

              <div *ngIf="!userDetials?.gender">Female</div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <span class="text-primary">Birthdate</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1" [innerHTML]="(userDetials?.birth_Date | date) || '<i class=&quot;text-muted&quot;>No Birthdate</i>' ">
            </div>
          </div>
          <div class="col-md-6 mt-2" *ngIf="!profile">
            <span class="text-primary">User Since</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1">
              {{userDetials?.register_Date ?? currentDate() | date}}
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <span class="text-primary">Bio</span>
            <div class="bg-body-tertiary p-3 rounded-4 mt-1" style="min-height: 150px;" [innerHTML]="userDetials?.bio || '<i class=&quot;text-muted&quot;>No Bio</i>'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

