<div class="row mt-3">
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <h2>{{ section.name }}</h2>
    <a href="#" class="btn fw-semibold align-center-embact text-primary"
      >View More <i class="isax isax-arrow-right-3 fw-bold"></i
    ></a>
  </div>
  <div class="col-md-6 col-lg-3" *ngFor="let post of posts; let i = index">
    <pre>
      <!-- {{posts[i] | json}} -->
    </pre>
    <a [routerLink]="'/'+section.url+'/'+posts[i].id" class="text-decoration-none"><app-post-item [post]="posts[i]"></app-post-item></a>
  </div>
</div>
