<footer class="bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center px-0 px-md-5 order-last order-md-first">
        <div class="col-12">
          <h2 class="mt-0">O<span>l</span>X</h2>
          <div class="social-media">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-snapchat"></i></a>
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          All Copyrights &copy; Reserved for OLX 2023.
        </div>
      </div>
      <div class="col-6 col-md-2">
        <h3>ABOUT US</h3>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Why Us ?</a></li>
          <li><a href="#">Hiring</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Subscription</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h3>OLX</h3>
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Report a problem</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h3>COUNTRIES</h3>
        <ul>
          <li><a href="#">Egypt</a></li>
          <li><a href="#">Bahrain</a></li>
          <li><a href="#">Jordan</a></li>
          <li><a href="#">Kuwait</a></li>
          <li><a href="#">Lebanon</a></li>
          <li><a href="#">Oman</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <ul class="mt-5 pt-1">
          <li><a href="#">Pakistan</a></li>
          <li><a href="#">Qatar</a></li>
          <li><a href="#">Saudi Arabia</a></li>
          <li><a href="#">UAE</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
