<div class="container-fluid overflow-hidden">
  <div class="row justify-content-center align-items-center my-5">
    <div class="col-12 col-sm-6 col-md-3 my-5">
      <h3 class="mb-4">
        <span class="fw-bold">Login</span>
        <span class="text-primary"> &</span> Sell some stuff
      </h3>
      <form
        class="row g-3 needs-validation"
        [formGroup]="usrFormGroup"
        (ngSubmit)="login($event)"
        novalidate
      >
        <div>
          <label for="email" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            formControlName="email"
            [ngClass]="{
              'form-control': true,
              'is-invalid': Email?.invalid && (Email?.dirty || Email?.touched),
            }"
          />
          <div class="invalid-feedback">
            {{ getErrorMsg("email") }}
          </div>
        </div>

        <div>
          <label for="usrPass" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="usrPass"
            id="usrPass"
            formControlName="password"
            [ngClass]="{
              'form-control': true,
              'is-invalid':
                Password?.invalid && (Password?.dirty || Password?.touched),
            }"
          />
          <div class="invalid-feedback">
            {{ getErrorMsg("password") }}
          </div>
        </div>
        <div class="">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Remember Me
            </label>
          </div>
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary py-2 d-flex align-items-center justify-content-center gap-2 w-100"
          >
            <i class="isax isax-lock-1"></i> Login
          </button>
          <div class="text-center mt-3">
            Don`t have an account ?
            <a routerLink="/register" class="text-decoration-none">Sign Up</a>
          </div>
        </div>
      </form>
      <!-- <button [disabled]="!isAdminLogged"  class="btn btn-danger"(click)="logout()">logout</button> -->
    </div>
  </div>
</div>
