<!-- <p>not-found works! Dashboard</p>
<form
        class="row g-3 needs-validation"
        [formGroup]="usrFormGroup"
        (ngSubmit)="login($event)"
        novalidate
      >
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            formControlName="email"
           
          />
         
        </div>

        <div class="mb-3">
          <label for="usrPass" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="usrPass"
            id="usrPass"
            formControlName="password"
       
          />
      
        </div>
        <div class="mb-3">
          <button
            type="submit"
          
          >
            <i class="isax isax-lock-1"></i> Login
          </button>
        </div>
      </form> -->